<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Suite">

    <test name="JSON Test">
        <classes>
            <class name="tests.LoginTestJSON"/>
        </classes>
    </test>

    <test name="CSV Test">
        <classes>
            <class name="tests.LoginTestCSV"/>
        </classes>
    </test>

</suite>